.escritura {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 1% 15%;
}
.text{
  width: 55%;
}
.contenido {
  padding: 2%;
}

fieldset {
  width: 20%;
}

.btn {
  margin: 1% 3%;
  height: 6vh;
  display: inline-block;
}

.parte-arriba {
  width: 100%;
  display: inline-block;
}

.parte-abajo {
  margin-top: 2%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.imprimir {
  padding: 1%;
  border: 1px solid white;
  width: 50%;
  height: 16vh;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.3);
}
