<div class="contenido">
  <h1>Ejercicio 4</h1>
  <hr />

  <form [formGroup]="form" (ngSubmit)="guardarCajas()">
    <div class="parte-arriba">
      <!-- ****** Adicionar Boton******* -->
      <button
        mat-raised-button
        color="primary"
        class="btn"
        type="button"
        (click)="adicionarCaja()">
        Adicionar
      </button>


      <!-- ******Contenido****** -->
      <div  class="escritura"
      formArrayName="cajaTexto" 
      *ngFor="let c of contenidoCaja.controls; 
      let i = index">

        <!-- //caja_contenido -->
          <mat-form-field appearance="outline" class="text">
            <mat-label>Añadir texto</mat-label>
            <input
            value=" "
            type="text" 
            matInput 
            autocomplete="off" 
            [formControlName]="i" 
            required />
          </mat-form-field>

        <!-- *****LIMPIAR UNA CAJA DE TEXTO***** -->
        <button
          mat-raised-button
          color="accent"
          class="btn"   
          (click)="limpiarCajaDinamica()" 
          type="reset">
          Limpiar
        </button>

        <!-- *****ELIMINAR***** -->
        <button
          mat-raised-button
          color="warn"
          class="btn"
          (click)="eliminarCaja(i)"
          type="button">
          Eliminar
        </button>
      </div>

         <!-- *******ACCIONES******* -->
    <fieldset>
      <legend><b>Acciones</b></legend>
      <!-- *****GUARDAR***** -->
      <button
        mat-raised-button
        color="basic"
        class="btn accion"
        (click)="guardarCajas()"
        [disabled]=""
      >
        Guardar
      </button>

      <!-- *****LIMPIAR TODO***** -->
      <button
      mat-stroked-button 
      color="primary"
        class="btn accion"
        (click)="limpiarTodo()"
        type="reset"
      >
        Limpiar Todo
      </button>
    </fieldset>
    </div>

    <div class="parte-abajo">
      <!-- *****TODO EL CONTENIDO******* -->
      <div class="imprimir">
        {{ contenido }}
      </div>
      <!-- ********LIMPIAR CAJA ******** -->
      <button
        mat-raised-button
        color="primary"
        class="btn"
        (click)="limpiarMultitexto()"
        type="button"
      >
        Limpiar M
      </button>
    </div>

 
  </form>
</div>
